<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plant.mapper.FBoardMapper">
	<select id="selectAllFBoard" parameterType="int" resultType="fBoard">
		SELECT * FROM (SELECT FB.*, CEIL(ROWNUM/10) AS PAGENO FROM (SELECT * FROM FREE_BOARD ORDER BY FB_NO DESC) FB) WHERE PAGENO = #{PAGENO}	
	</select>
	<select id="selectFBoardCount" resultType="int">
		SELECT COUNT(*) FROM FREE_BOARD
	</select>
	<select id="selectFBoard" parameterType="map" resultType="fBoard">
	select * from 
    (SELECT PG.*,  CEIL(ROWNUM/10) AS PAGENO FROM 
        (SELECT FB.* FROM 
            (SELECT * FROM FREE_BOARD ORDER BY FB_NO DESC) FB) PG WHERE  
		<choose>
			<when test="kind.equals('title')">
				FB_TITLE LIKE '%' || #{search} || '%'
			</when>
			<when test="kind.equals('title_content')">
				FB_TITLE LIKE '%' || #{search} || '%' AND FB_CONTENT LIKE '%' || #{search} || '%'
			</when>
			<otherwise>
				CREATOR_ID LIKE '%' || #{search} || '%'
			</otherwise>
		</choose>
                ORDER BY FB_NO DESC) where PAGENO = #{pageNo}
	</select>
	<select id="selectFBoardSearchCount" resultType="int">
		SELECT COUNT(*) FROM FREE_BOARD WHERE
		<choose>
			<when test="kind.equals('title')">
				FB_TITLE LIKE '%' || #{search} || '%'
			</when>
			<when test="kind.equals('title_content')">
				FB_TITLE LIKE '%' || #{search} || '%' AND FB_CONTENT LIKE '%' || #{search} || '%'
			</when>
			<otherwise>
				CREATOR_ID LIKE '%' || #{search} || '%'
			</otherwise>
		</choose>			
	</select>
	<select id="selectFBoardContent" parameterType="int" resultType="fBoard">
		SELECT * FROM FREE_BOARD WHERE FB_NO = #{fb_no}
	</select>
	<update id="addFBoardCount" parameterType="int">
		UPDATE FREE_BOARD SET FB_VISIT_COUNT = FB_VISIT_COUNT + 1 WHERE FB_NO = ${fb_no} 
	</update>
	<select id="selectFBoardComment" parameterType="int" resultType="fbComment">
		SELECT * FROM FB_COMMENT WHERE FB_NO = #{fb_no}
	</select>
	<insert id="insertFBComment" parameterType="fbComment">
		INSERT INTO FB_COMMENT(FBC_NO, FB_NO, COMMENTOR_ID, FB_COMMENT_CONTENT, FB_COMMENT_DATE) VALUES(#{fbc_no},#{fb_no},#{commentor_id},#{fb_comment_content},sysdate)
	</insert>
</mapper>